beautifulsoup4
certifi
chardet
charset-normalizer
click
colorama
Flask
idna
itsdangerous
Jinja2
joblib
lxml
MarkupSafe
numpy
pandas
pyrsistent
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
soupsieve
threadpoolctl
urllib3
Werkzeug
gunicorn
